{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cardio + Endurance Training Workout Videos Page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'workouts/cardio.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              </ul>
            </div>
          </div>
        </div>
      </div>

          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Cardio + Endurance Training Workouts</h1>
          <br>
          <p class="lead text">Description from catalog for cardio + endurance training
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
<br>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                     <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <h4 class="card-text">Title</h4>
                <br>
<iframe id="ytplayer" type="text/html" width="348" height="250"
  src="https://www.youtube.com/embed/[VIDEO ID HERE]"
  frameborder="0"></iframe>
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm">Like</button>
                      
                      <button type="button" class="btn btn-primary btn-sm">Share</button>
                    </div>
                    <small class="text-muted">Time of Workout</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    </footer>
<br>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
