/*--------------------
Reset & body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.icon {
  border-radius: 50%;
}

body {
  background-image: -webkit-gradient(linear, left bottom, right top, from(blue), to(red));
  background-image: linear-gradient(to top right, blue, red);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  height: 700px;
}

/*--------------------
Landing
--------------------*/
.landing {
  position: relative;
  z-index: 2;
  width: 375px;
  height: 667px;
  margin: 25px auto;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.landing .logo .icon {
  fill: #1E1C45;
}
.landing .base {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 38px;
  color: #082352;
  background-image: url("https://media.istockphoto.com/vectors/vector-threedimensional-figure-futuristic-waveform-abstract-curved-vector-id1012936698");
}
.landing .image {
  display: none;
}

/*--------------------
Copy
--------------------*/
.copy {
  position: relative;
  z-index: 2;
}
.copy .title {
  font-size: 42px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
  margin-left: -3px;
  background-image: linear-gradient(45deg, #562062, #B1499C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.copy .title small {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 50px;
  line-height: 1;
  display: block;
  text-indent: 3px;
  background-image: linear-gradient(45deg, #FFD700, #aa6c39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-height: 100px;
}
.copy .text {
  color: #282652;
  font-size: 90%;
  word-wrap: break-word;
  width: 300px;
  min-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  min-height: 70px;
}
.copy .cta {
  cursor: pointer;
  margin-top: 40px;
  background: linear-gradient(25deg, #2f2d56, #6e355b);
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 600;
}

/*--------------------
Overlay
--------------------*/
.base.overlay {
  z-index: 2;
  -webkit-clip-path: polygon(375px 0, 710px 0, 710px 530px, 469px 530px);
          clip-path: polygon(375px 0, 710px 0, 710px 530px, 469px 530px);
  color: #fff;
  background: linear-gradient(45deg, #082352, #6f2d52);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.base.overlay.over {
  -webkit-clip-path: polygon(-1750px 0, 710px 0, 710px 630px, 0 710px);
          clip-path: polygon(-1750px 0, 710px 0, 710px 630px, 0 710px);
}
.base.overlay .logo .icon {
  fill: #fff;
}
.base.overlay .image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}
.base.overlay .image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(42deg, #082352, #6f2d52);
  opacity: 0.8;
}
.base.overlay .title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#fff), to(#fff));
  background-image: linear-gradient(0, #fff, #fff);
}
.base.overlay .text {
  color: #fff;
}
.base.overlay .cta {
  background: #fff;
  color: #0A2452;
}