.balance {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 260px;
  height: 63px;
transform: translate(0%,25%);
}
.balance {
    animation: colorchange 10s infinite; 
            -webkit-animation: colorchange 10s infinite; 

    border-radius: 30px;
    margin-top: 20px;
    
    transition-duration: 1s;
    position: absolute;

    right: 4%;
}
.contactustext{
    color: white;
    font-weight: 700;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    font-family: 'Lexend Deca', sans-serif;
  transform: translate(0%,-37%);
  text-align: center;
}
.headerbutton:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #505050;
}
    @keyframes colorchange
    {
      0%   {background: #d81e05;}
      25%  {background: #5600bc;}
      50%  {background: #0084c9;}
      75%  {background: #009e0f;}
      100% {background: #d81e05;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background: #d81e05;}
      25%  {background: #5600bc;}
      50%  {background: #0084c9;}
      75%  {background: #009e0f;}
      100% {background: #d81e05;}
    }
:root {
  --jumbotron-padding-y: 4rem;
}
.container{
  background-color: #a00cb1;
  transform: translate(0%,-4.4%);
  width: 2000px;
}
h1{
  color: black;
  font-size: 52px;
}
h4{
  text-align: center;
  font-family: serif;
  
}

h3 { 
color: white;
}
.container2 {
  max-width: 60rem;
  transform: translate(13%,0%);
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);

  background-image: linear-gradient(to top right, blue, red);




.jumbotron-heading {
  font-weight: 10;
  font-size: 60px;
}





