body {
  background-image: linear-gradient(to top right, blue, red);
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
h3{
  transform: translate(10%, -90%);
}
.JayZ {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 25px;
  background: #f4f4f4;
  margin:2em auto;
  padding: 1em;
  width: 800px;
  height: 1423px;
  
}

.beginning{
font-size: 1.6em;
    font-family: 'Didot', sans-serif;background-image: linear-gradient(45deg, red,blue,red,blue,red,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  transform: translate(2%, -30%);
}

ul {
  -webkit-column-count: 1;

  -moz-column-count: 1;
  
  column-count: 1;

  list-style:none;
  transform: translate(0%, -1%);
  
  li {
    margin-bottom: 2.5em;
    width: 250px;
    position: relative;
  top: 20%;
  left: 45%;
  transform: translate(-50%, 0%);
    
    
    a {
      text-decoration:none;
      color: #444;
      
      &:hover {
        
        img {opacity:0.9;}
        p {background:#ddd;}
        
      }
      
    }
    
    img {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      margin:0;
    }
    
    p {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
      position: relative;
      text-align:center;
      background: #ccc;
      padding: .75em;
      display:block;
      top:-5px;
      margin:0;
    }
    
    &:nth-child(4n+1) p {border-top:3px solid #5ab91b;}
    &:nth-child(4n+2) p {border-top:3px solid #d54343;}
    &:nth-child(4n+3) p {border-top:3px solid #1ab8da;}
    &:nth-child(4n+4) p {border-top:3px solid #dfd42b;}
    
  }
   
}